/*
Colors:

Background: #fafad2
Header & Footer: #EF5350
Text: #3761A8

*/

:root {

    --background: #A2D7D5;
    --headings: #EF5350;
    --primary-color: #49896F;
    --lightYellow: #fafad2;
    --button: #FED269;
    --lightGrey: #777;
    --white: #fff
}

/* HEADER */

.navbar {
    background-color: var(--headings);
    color: white;

}

.navbar-brand {
    font-size: 2.25rem;
    color: white;
    font-family: 'Abril Fatface', cursive;
}


/* BODY */

.loading {
    width: 500px;
    z-index: 999;

}

.page-content {
    text-align: center;
    justify-content: center;
}

.button {
    border: none;
    background-color: var(--button);
    color: var(--primary-color);
    font-size: large;
    border-radius: 15px 15px;
    border-bottom: 2px solid var(--primary-color);
    transition: 0.2s opacity;

}

.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}


body {
    background-color: var(--background);
    color: var(--primary-color);
    font-size: 30px;
    margin-top: 100px;
}


.hide-item {
    display: none;
}

h1 {

    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
}


.pokemon-img {
    width: 300px;
    height: 300px;

}


.pokemon-list {
    flex-wrap: wrap;
    justify-content: center;

}

.list-group {
    flex-direction: row;
}

.card {
    position: relative;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--lightYellow);
    background-clip: border-box;
    border: 2px solid #FED269;
    border-radius: 15px 15px;
    align-items: center;
    align-content: center;
    padding: 15px;
    margin: 45px;
}

.card-img {
    width: 150px;
    height: 150px;
}

.modal-content {
    background-color: var(--lightYellow);
}