/*
Colors:

Background: #fafad2
Header & Footer: #EF5350
Text: #3761A8

*/

:root {

    --background: #fafad2;
    --headings: #EF5350;
    --primary-color: #3761A8;
    --lightGrey: #777;
    --white: #fff
}

/* HEADER */

.navbar {
    background-color: var(--headings);
    color: white;
    font-family: 'Abril Fatface', cursive;

}

.navbar-brand {
    font-size: 2.25rem;
    color: white;
}


/* BODY */

.loading {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    /* calculation = 500px/2 = 250px */
    margin-top: -200px;
    /* to show it above other content */
    z-index: 999;

}

.page-content {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
}

.button {
    border: none;
    display: inline-block;
    background-color: var(--headings);
    color: var(--background);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 0 10px;
    border-bottom: 2px solid var(--primary-color);
    transition: 0.2s opacity;
    grid-column: 1 span;
    grid-row: 1 span;

}

.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}


body {
    background-color: var(--background);
    color: var(--primary-color);
    font-size: 30px;
}


.hide-item {
    display: none;
}

h1, h2, h3 {

    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
}


.pokemon-img {
    width: 300px;
    height: 300px;

}


.pokemon-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 50px;

}

/* RESPONSIVE */

@media all and (max-width: 750px) {

    @media all and (min-width: 500px) and (max-width: 750px) {
        .pokemon-list {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 10px;

        }
    }

    @media all and (max-width: 500px) {
        .pokemon-list {

            grid-template-columns: 1fr;

        }
    }

}