/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,last 2 versions,not dead
*/

/*
Colors:

Background: #fafad2
Header & Footer: #EF5350
Text: #3761A8

*/
* {
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #EF5350;
    color: white;
}

/* BODY */

.loading {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    /* calculation = 500px/2 = 250px */
    margin-top: -200px;
    /* to show it above other content */
    z-index: 999;

}

.page-content {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #EF5350;
    color: #fafad2;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 20%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 10px;
    border-radius: 0 10px;
    border-bottom: 2px solid #3761A8;
    transition: 0.2s opacity;
    margin: auto;

}

.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}


body {
    background-color: #fafad2;
    color: #3761A8;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-top: 0;
    font-size: 30px;
}




h1 {

    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #fafad2;
}




h2 {

    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #fafad2;
}




h3 {

    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: bold;
    color: #fafad2;
}



#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* to show it above other content */
    z-index: 999;
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}


.modal {
    margin: auto;
    display: block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 60%;
    height: 80%;
    max-width: 600px;
    min-height: 600px;
    min-width: 380px;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
}

.pokemon-img {
    width: 300px;
    height: 300px;

}


.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.modal-fav {
    float: left;
    border: 0;
    background: none;
    color: #EF5350;

}

.modal-close:hover,
.modal-close:focus,
.modal-fav:hover,
.moidal-fav:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.modal-title {
    margin-top: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #3761A8;
}

.content-container {
    text-align: center;
    color: #3761A8;
    font-size: 25px;
}

.type-container {
    text-align: center;
    color: #EF5350;
    font-size: 20px;
}



#modal-container {
    display: none;
}

#modal-container.is-visible {
    /* CSS for modal container - add own design */
    display: block;
}


ul {
    list-style-type: none;
}

/* RESPONSIVE */

@media all and (max-width: 750px) {

    @media all and (min-width: 500px) and (max-width: 750px) {
        h1 {
            font-size: 48px;
        }

        .button {
            font-size: 30px;
            width: 70%;
        }

        body {
            line-height: 2.1;
            text-align: center;
        }
    }

    @media all and (max-width: 500px) {
        h1 {
            font-size: 35px;
        }

        .button {
            font-size: 25px;
            width: 80%;
        }

        body {
            line-height: 1.8;
            text-align: center;
        }
    }

}